html {
    background-color: var(--primary-background-color);
    font-family: var(--base-font);
    color: var(--base-font-color);
}

body {
    max-width: 45em; 
    margin: 0 auto;
    background-color: var(--secondary-background-color);
    border-radius: var(--rounded-edges-hidden); 
}

main {
    padding: 1em;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

footer {
    text-align: center;
}

#blank {
    list-style-type: none;
    min-height: 1em;
}

.block {
    background-color: var(--block-background-color);
    background-image: var(--background-gradient);
    font-family: var(--block-font);
    color: var(--block-font-color);     
}


.student {
    padding: 1px 0em 1px 0em;
    text-align: center;
}

.studentPhoto {
    margin: 0.75em 0em 0em;
}

.title {
    margin-bottom: 0.0em;
}

.lessons {
    margin-top: 0.5em;
    font-weight: 600;
}

.credit {
    padding: 1px 0em 1px 0.1em;
}

footer a:link, footer a:visited {
    color: var(--block-font-color);
}

.lastUpdated {
    color: var(--last-updated-font-color);
    font-size: 0.85em;
}

li {
    margin: 0.25em;
}