@media only screen and (min-width: 46em){
    main {
        grid-template-columns: 1fr 1fr;
    }

    .column:nth-last-child(1):nth-last-child(odd) {
        grid-column: span 2;
    }

    footer {
        font-size: 1em;
    }

    .lastUpdated {
        font-size: 0.85em;
    }
}