html {
    background-color: var(--primary-background-color);
    color: var(--base-font-color);
    font-family: var(--base-font);
}

body {
    max-width: 28em;
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    gap: 1em 1em;
}

h1, h2 {
    background-color: var(--block-background-color);
    background-image: var(--background-gradient);
    color: var(--block-font-color);
    font-family: var(--block-font);    
    padding: 0.5em;
}

h2 {
    margin: 0em;
}

figure {
    margin: 1em 0em;
    text-align: center;
    font-size: 0.9em;
}

.column {
    background-color: var(--secondary-background-color);
    border-radius: var(--rounded-edges-hidden) var(--rounded-edges-hidden) 0em 0em;
}

.column h2 {
    border-radius: var(--rounded-edges-block) var(--rounded-edges-block) 0em 0em;
}

.column .content {
    padding: 1em;
}

.content-description {
    text-indent: 1.5em;
    text-align: justify;
    padding: 1em;
    background: rgba(49, 49, 49, 0.05);
}

.phone.screen-shot, .content-description {
    border-radius: 0.5em;
}

footer {
    background-color: var(--block-background-color);
    background-image: var(--background-gradient);
    font-family: var(--base-font);
    color: var(--block-font-color); 
    text-align: center;
    margin: 1em 0em;;
    padding: 0.1em;
    font-size: 0.85em;
}


footer a:link, footer a:visited {
    color: var(--block-font-color);
}

.lastUpdated {
    color: var(--last-updated-font-color);
}