/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    /*  FONTS  */
    --base-font: 'Raleway',Helvetica, sans-serif;
    --block-font: 'Cinzel Decorative', serif;

    /* PALETTE COLORS */
    --primary-background-color: #313131;
    --secondary-background-color: #F3F9D2;
    --block-background-color: #731DD8;
    --block-font-color: white;
    --base-font-color: #313131;
    --last-updated-font-color: yellow;
    --secondary-color-theme: red;

    /* GRADIENT */
    --background-gradient: linear-gradient(to bottom right, var(--block-background-color), var(--secondary-color-theme));

    /* MEASUREMENTS */
    --rounded-edges-hidden: 1em;
    --rounded-edges-visible-diff: 0.5em;
    --rounded-edges-block: calc(var(--rounded-edges-hidden) - var(--rounded-edges-visible-diff));
}