html {
    font-family: "Andika";
    background: #FFF4EB;
    color: #201D1F;
}

.alert {
    background: #FFF4EB;
    border: 8px double #F9627D;
    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        "event x"
        "description description"

}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem; 
}

form > * {
    margin: 0.25rem;
    border-color: #00D8E0
}

form textarea {
    height: 10em;
}

.button button {    
    width: 100%;
    padding: 1rem 1.5rem;
}

#event {
    background: #F9627D;
    color: #FFFFFF;
    grid-area: event;
    font-size: 1.25rem;
    font-family: "Federo";
    padding: 0.5rem 0.75rem;
}

.closebtn {
    background: #F9627D;
    color: #FFFFFF;
    grid-area: x;
    font-size: 2rem;
    padding: 0 0.75rem;
}

#description {
    grid-area: description;
    padding: 0.75rem;
}

.content > div {
    background: #ffffffcb;
    border: 8px double #00D8E0;
    border-radius: 5px;
    box-shadow: 8px 8px 8px #6480A6;
}

.header-text {
    margin: 1rem 2rem;
}

.nav.head h1 {
    background:#FFF4EB;
    padding: 0;
}

.scoots {
    font-family: "Sansita Swashed";
    font-weight: 600;    
}

.barcode {
    font-family: "Libre Barcode 39 Extended Text";
}

h1, h2, h3, h4 {
    font-family: "Federo";
    margin: 0;
    background: #00D8E0;
    padding: 0.75rem 1.5rem;
}

h5 {
    font-family: "Federo";
    font-size: 0.95rem;
    margin-bottom: 0.25rem;
}

.paralax.content {    
    min-height: auto;
    padding: 2rem 0;
}

.paralax.divider {
    display: none;
}

nav {
    font-family: "Chewy";       
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 2;
}

.navigation {
    background: #67F4DA;
    text-align: center;
    margin: 0;
    list-style: none;
    padding: 0;
}

.nav.head, .nav.item.ham {
    display: block;
}

.nav.item {
    display: none;    
}

.reservation {
    padding: 1rem 1.5rem;
    text-align: center;
}

.center {
    text-align: center;;
}

.social {
    display: none;
}

.button {
    border: 3px double #82E748;
    border-radius: 8px;
    display: block;
    font-family: "Chewy"; 
}

.button > a, .button button {
    background: #82E748;
    display: inline-block;
    border-radius: 4px;
    font-size: large;
    text-align: center;
    border: 0;
}

.responsive .nav.item {
    display: block;
}

a, .nav a:visited, .button a:visited {
    color: #201D1F;
}

.nav a, .button a {
    text-decoration: none;
    display: block;
    padding: 1rem 1.5rem;
}


.nav.item a:hover, a.active, a.active:visited {
    color: #FFFFFF;
    background-color: #F9627D;
}

.li-logo {
    background: url("../images/alex-mustaros-68opR6XoL9U-unsplash-400w.webp") no-repeat scroll center;
    background-size: cover;
}

.nav.head {
    background: #FFF4EB;
}

.weather {
    background: #ffffffaf;
}

.weather div {
    margin: 1rem;
}

.card > div{
    margin: 1rem;
}

.card-item.resize {
    flex-grow: 1;
    flex-shrink: 1;
}

.card-item.break {
    flex-basis: 100%;
    border: 0;
    margin: 0;
}

.card-item {
    border: 2px solid #00D8E0;
}

.card-item > *{
    margin: 1rem 0;    
}


.weather img {
    background: #6480A6;
    border-radius: 15px;
    margin: 4px 0 0 0;
}

.weather ul {
    list-style: none;
}

#weather-current {
    padding: 0;
    margin:0;
}

#weather-current li {
    margin: 0.5rem;
}

#weather-three-day {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin:0;
}

#weather-three-day ul {
    padding: 0;
    text-align: center;
    margin: 0.5rem;
}

.card img {
    max-width: 100%;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
}

.gmap iframe {
    width: 100%;
    height: 100%;
}

address section{
    margin-bottom: 1rem;
}

address h4{
    margin-bottom: 1rem;
}

.card-item > *{
    margin: 1rem;
}

.text {
    margin-bottom: 1rem;
}

.overlay-parent {
    text-align: center;
    font-family: "Chewy";    
    color: #F9627D;
    font-size: 2rem;
}

.table {
    display: none;
}

table {
    margin: 1rem auto;
}

table, th, td, caption {
    border: 2px solid #6480A6;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

tr:nth-child(n+2) td:first-child{
    text-align: left;
 }

table > caption {
    border-bottom: 0;
    background: #6480A6;
    color: #FFFFFF;
}

@media only screen and (min-width: 25em) {
    .nav.item {
        font-size: x-large;
    }    

    .paralax.content {
        padding: 1rem 2rem;
    }

    .gmap iframe {
        height: 300px;
    }

    .li-logo {
        background: url("../images/alex-mustaros-68opR6XoL9U-unsplash-700w.webp") no-repeat scroll center;
    }

    .overlay-parent {
        font-size: 2.5rem;
        position: relative;
        display:inline-block;
        z-index: 1;
    }
    
    .overlay {
        position: absolute;
        top: 6px;
        right: -20px;    
        transform: rotate(7deg);        
    }

}

@media only screen and (min-width: 40em) {
    .weather {    
        display: flex;
        justify-content: space-between;    
    }

    .content-small > div {
        display: inline-block;
    }

    .card-item.map {
        display: flex;
        justify-content: center;
    }   

    

    .gmap, address {    
        width: 300px;
    }

    .gmap iframe {
        width: 100%;
    }

    .li-logo {
        background: url("../images/alex-mustaros-68opR6XoL9U-unsplash-1000w.webp") no-repeat scroll center;
    }

    .table {
        display: block;
    }

}

@media only screen and (min-width: 50em) {
    .grid {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    
    .grid h5 {
        margin: 0;
    }
}

@media only screen and (min-width: 60em) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav.head h1 {
        background:#67F4DA;
    }

    .nav.item {
        display: block;    
    }

    .nav.item.ham {
        display: none;
    }

    .li-logo {
        background: #67F4DA;
        position: relative;  
    }

    .nav.head {
        background: #67F4DA;
    }

    .li-logo div {
        width: 150px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: -93px;
    }

    .paralax.small {
        min-height: 55px;
    }

    .paralax.divider {
        border-top: 4px solid #67F4DA;
        min-height: auto;
        display: block;    
    }

    nav {
        top: 0;
    }
    
    .paralax {
        background-image: url("../images/alex-mustaros-68opR6XoL9U-unsplash-1800w.webp");
        min-height: 100px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .reservation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .social {
        display: inline-block;
        margin: 0 2rem 0 0;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-text {
        color: #82E748;
        margin: 0rem 2rem;
    }

    .hidden-big {
        display: none;
    }

    form {
        width: 50vw;    
    }
}