.cards {
    margin: 2.5rem 0 0 0;
}

.cards section {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-shadow: 4px 4px 5px 1px #4C8577;
    margin: 2.5rem 0;
    border: 1px solid #4C8577;
}

.town-img {
    max-width: 100%;
    border-top: 1px solid #4C8577;
}

.town-content > * {
    padding: 0 1rem;
    text-align: center;
}

.town-header {
    margin: 0;
    padding: 1rem;
}

.town-content h4 {
    font-style: italic;
}

@media only screen and (min-width: 530px) { 
    .cards section {
        width: 512px;
        margin: 2.5rem auto;
    }
}

@media only screen and (min-width: 60em) {   
    .cards section {
        width: auto;        
    } 

    .cards section:nth-child(odd) {
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "content image";
    }

    .cards section:nth-child(even) {
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "image content";
    }

    .town-img {
        grid-area: image;
        border-top: 0;
    }

    .cards section:nth-child(odd) img{
        border-left: 1px solid #4C8577;
    }

    .cards section:nth-child(even) img{
        border-right: 1px solid #4C8577;
    }

    .town-content {
        grid-area: content;
    }
}

@media only screen and (min-width: 90em) {
    .cards {
        display: flex;
        justify-content: space-between;
    }

    .cards section:nth-child(odd), .cards section:nth-child(even) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "content"
        "image";
        margin: 0 1rem 1rem;
    }

    .cards section:first-child {
        margin: 0 1rem 1rem 0;
    }

    .cards section:last-child {
        margin: 0 0 1rem 1rem;
    }

    .cards section:hover {        
        animation: wiggle 0.25s linear 3, box-glow 1s ease-out infinite alternate; 
    }

    @keyframes wiggle {
        from {
            transform: rotate(0deg);       
        }
        25% {
            transform: rotate(0.2deg);
        }
        75% {
            transform: rotate(-0.2deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    
    @keyframes box-glow {
        from {
            box-shadow: 4px 4px 5px 1px #4C8577;
        }
        to {
            box-shadow: 6px 6px 25px 5px #4C8577;
        }
    }

    .town-img {
        border-top: 1px solid #4C8577;
    }
}