.weather-summary-box {
    position: static;    
}

.weather-summary {
    position: static;    
    background: #f2f5dec7;
}

.weather-summary-table {
    margin: 1em 2em;     
    padding-bottom: 1em;       
}

.weather-summary-table tr td:nth-child(odd){
    font-size: 1.25em;
    text-align: right;
    padding: 0.25em;
}

.weather-summary-table tr td:nth-child(even){
    font-size: 1.1em;
}

#five-day-flex {
    list-style: none;
}

#five-day-flex {
    display: flex;
    text-align: center;
    padding: 0;
    justify-content: center;
    padding-bottom: 1em;
}

#five-day-flex li {
    margin: 0.25em;
    border: 2px solid #4C8577;
}

@media only screen and (min-width: 60em) {
    .weather-summary-box {
        position: relative;
        overflow: hidden;  
    }
    
    .weather-summary {
        position: absolute;
        top: 1em;
        left: 2em;
        width: 88%;
        max-width: 20em;
    }

    .weather-summary-table {
        margin: auto;            
    }   
}

@media only screen and (min-width: 90em){
    #five-day-flex {
        font-size: 2em;
    }

    #five-day-flex li {
        padding: 1em;
    }
}