body {
    font-size: 1.25em;
}

h1 {    
    font-size: 2.75em;    
}

h2 {
    font-size: 1.5em;
}

h1, h2 {
    text-transform: uppercase;
    text-align: center;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;    
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

figcaption {
    text-align: center;
}

/*
animation: [name] [duration] [delay] [iteration/count] [direction] [timing] [fill]; 
example:
animation: wiggle     3s        2s         infinite     alternate    ease    none;
animation: wiggle 3s 2s infinite alternate ease none; 

@keyframes [name] {
    [from or 0%] {
        [property]: [value];
        [property]: [value];
    }

    [i%] {
        [property]: [value];
        [property]: [value];
    }

    [to or 100%] {
        [property]: [value];
        [property]: [value];
    }
}
}

*/

#title {
    animation: glow 1s ease-out infinite alternate; 
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #ffffff00;
    }
    to {
        text-shadow: 0 0 20px #ffffffff;
    }
}

article {
    max-width: 60rem;
    min-width: 35rem;
    margin: 0.5em; 
    box-shadow: 4px 6px 10px 1px #CF5C36;
    border-radius: 8px;    
}

article:hover {
    animation: wiggle 0.25s linear 3, glow 1s ease-out infinite alternate; 
}

@keyframes wiggle {
    from {
        transform: rotate(0deg);       
    }
    25% {
        transform: rotate(0.2deg);
    }
    75% {
        transform: rotate(-0.2deg);
    }
    to {
        transform: rotate(0deg);
    }
}

figure {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

article > p {
    margin: 0.75em;
    text-align: justify;
}

article > h2 {
    color: white;
    background-color: #CF5C36;
    padding: 0.75em;
    margin: 0.75em 0;
}

header, footer {
    color: white;
    background-color: #CF5C36;
    border-radius: 8px;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 4px 6px 10px 1px #CF5C36;
}

header {
    font-size: 0.75em;
}

footer {
    font-size: 0.75em;
    text-align: center;
}

footer a {
    color: white;
}